.bannerheader{
	width:100%; 
	margin: 0 auto;
	display: table; 
	min-width: 800px; 
	max-width: 900px; 
	background-color:#ffffff; 
	border:10px solid #96c93e;
}
.bannerfooter{
	width:100%;
	background:#ffffff; 
	border:10px solid #ffffff;
	position:relative; 
	top:0;  
	left:0; 
	border: 2;
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/7f/6c/91/7f6c917473453d67602d42f38dfb94f2.png"); 
	background-repeat: no-repeat ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
	background-size:100% 40%; 
	background-position: bottom
}
.linksheader{
	padding:10px;
	text-align:center; 
	font-size:14px; 
	color:#729e29
}
.fontnotes{
	width:33%;
	margin-left:auto; 
	margin-right:0;
	border-radius: 15px;
	padding:2px;
	text-align:center;
	background-color:#ff8000;
	padding: 0px;
	font-family: Roboto, serif; 
	font-size: 13px; 
	font-weight: 300; 
	letter-spacing: 0px
}
.fontbody{
	width: 100%; 
	overflow: auto; 
	background-color: #ffffff; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	font-size: 18px; 
	font-family: 'Roboto-Light', sans-serif ; 
	font-weight: lighter; 
	letter-spacing: 0px;
	line-height: 26px; 
}
.fonth1tittle{
	top:0%;
	width:100%; 
	border-radius: 15px;
	padding:0px;
	background: linear-gradient(to right, #5e8421, #c1f37b 100%);
	line-height:0px;
	color:#ffffff;
	font-family:'Roboto Slab', serif;
	font-size:36px; 
	font-weight:700;
}
.fonth2tittle{
	width: 75%;
	border-radius: 15px;
	padding:0px; 
	background-color: #96c93e;
	line-height:0;
	color:#ffffff; 
	font-family:'Roboto Slab', serif;
	font-size:23px; 
	font-weight:700;
}
.fontheader{
	width:50%;
	margin: 0 auto;
	position: absolute;
	left: 25%; 
	top:0px; 
	border:0px solid #000000;
	text-align: center; 
	color:#476419;
	font-family: Roboto, serif; 
	font-size: 13px; 
	font-weight: 300; 
	letter-spacing: 0px
}
.fontfooter{
	width:52%;
	margin: 0 auto;
	text-align: center; 
	color: #729e29; 
	font-family: Roboto, serif; 
	font-size: 13px; 
	font-weight: 300; 
	letter-spacing: 0px
}
.colortools{
	color:#5e8421;
}
.colornotes{
	color:#ff8000;
}